header.header
	.container
		.row
			.header__body
				a(href="#" class="header__logo")
					img(src='static/images/general/logo.png' alt='DICAPO' )
				.header__burger
					span
				nav(role='navigation' class='header__menu')
					ul(class="header__list")
						li
							a(href='#' class="header_link") Обо мне
						li
							a(href='#' class="header_link") Образование
						li
							a(href='#' class="header_link") Деятельность
						li
							a(href='#' class="header_link") Навыки
						li
							a(href='#' class="header_link") Примеры
						li
							a(href='#' class="header_link") Контакты	