extends template/main

block variables
	- var title = 'Главная страница'

block content
	.wrapper 
		.container
			.row 
				.box_test 
					p Контент страницы	
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt error aliquid, vel sed iure ex nisi, ipsa vitae excepturi ipsam pariatur quasi consectetur itaque maxime culpa voluptatem distinctio perferendis! Non?
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt error aliquid, vel sed iure ex nisi, ipsa vitae excepturi ipsam pariatur quasi consectetur itaque maxime culpa voluptatem distinctio perferendis! Non?