.but__white {
	height:48px;
	line-height: 48px;
	a {
		display: block;
		color: $green;
		font-family: $extra-bold;
		padding:0 10px;
		border:1px solid $green;
		text-decoration: none;
		font-size: 16px;
		@include media("max", "desktop") {
		    font-size:14px;
		}
		@include media("max", "tablet") {
		    font-size:12px;
		}
	}
	a:hover {
		color: $white;
		border:1px solid $green;
		background-color: $green;
	}
}
.but-yellow {
	width: 195px;
	a {
		display: block;
		background-color: $yellow;
		color: $black;
		font-family: $extra-bold;
		padding:15px 10px;
		text-decoration: none;
		text-align: center;
		@include media("max", "tablet") {
		    font-size:12px;
		}
	}
	a:hover {
		background-color: $green-d;
		color: $white;
	}
	@include media("max", "tablet") {
	    width: 100%;
	}
}
.but__green {
    width: 100%;
    a {
		display: block;
		background-color: $green;
		color: $white;
		font-family: $extra-bold;
		height: 40px;
		line-height: 40px;
		text-decoration: none;
		text-align: center;
		font-size: 16px;
		@include media("max", "desktop") {
		    font-size:14px;
		}
		@include media("max", "tablet") {
		    font-size:12px;
		}
	}
	a:hover {
		background-color: $but-g-a;
		color: $white;
	}
} 
.but__green_noa {
    width: 100%;
    display: block;
	background-color: $green;
	color: $white;
	font-family: $extra-bold;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	@include media("max", "desktop") {
	    font-size:14px;
	}
	@include media("max", "tablet") {
	    font-size:12px;
	}
	&:hover {
		background-color: $but-g-a;
		color: $white;
	}
} 

