header { 
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	z-index:50;
	&:before {
		content:'';
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: $orange;
		z-index:2;
	}
	.header__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height:80px;
		align-items: center;
		@include media("max", "tablet-wide") {
			height: 70px;
		}
		@include media("max", "tablet") {
			height: 50px;
		}
		.header__logo {
			flex:0 0 250px;
			position: relative;
			z-index:3;
			@include media("max", "tablet-wide") {
				flex:0 0 200px;
			}
			@include media("max", "tablet") {
				flex:0 0 150px;
			}
		}
		.header__burger {
			display: none;
			@include media("max", "tablet-wide") {
				display: block;
				position: relative;
				width: 30px;
				height: 20px;
				z-index: 3;
			}
			span {
				height: 2px;
				width: 100%;
				background-color: $white;
				position: absolute;
				top:9px;
				left:0;
				transition: all 0.3s ease 0s;
			}
			&:before, &:after {
				content:'';
				position: absolute;
				height: 2px;
				width: 100%;
				background-color: $white;
				left:0;
				transition: all 0.3s ease 0s;
			}
			&:before {
				top:0;
			}
			&:after {
				bottom:0;
			}
			&.active {
				&:before {
					transform:rotate(45deg);
					top:9px;
				}
				&:after {
					transform:rotate(-45deg);
					bottom: 9px
				}
				span {
					transform:scale(0);
				}
			}
		}
		nav.header__menu {
			@include media("max", "tablet-wide") {
				position:fixed;
				top:0;
				left:-100%;
				width: 100%;
				height:100%;
				background-color: $grey;
				transition: all 0.4s ease 0s;
				overflow: auto;
			}
			&.active {
				left:0;
			}
			ul.header__list {
				display: flex;
				position: relative;
				z-index: 2;
				@include media("max", "tablet-wide") {
					padding-top:90px;
					display: block;
				}
				@include media("max", "tablet") {
					padding-top:70px;
				}
				li {
					margin:0 0 0 20px;
					@include media("max", "tablet-wide") {
						margin:0 20px 10px 20px;
					}
					a.header_link {
						text-transform: uppercase;
						font-size:16px;
						color:$white;
						text-decoration: none;
						display: block;
						@include media("max", "tablet-wide") {
							color:$orange;;
						}
					}
				}
			}
		}
	}
}